{% extends "base.html" %}

{% block title_page %} {% endblock %}

{% block h1_title %} {% endblock %}

{% block content %}

{{ super() }}
<div>
    <p>Раздел {{ cosmetology_service.chapter }}</p>
    <p>Наименование услуги косметолога {{ cosmetology_service.name_service }}</p>
    <p>Показания для применения услуги {{ cosmetology_service.medical_indications }}</p>
    <p>Противопоказания {{ cosmetology_service.contraindications }}</p>
    <p>Препараты для выполнения {{ cosmetology_service.medication }}</p>
    <p>Цена препарата {{ cosmetology_service.price }}</p>
</div>

{% endblock %}
